<p>
    Congratulations
    <strong>{{fullName}}</strong>!
</p>

<p>
    You have new contract! You will work as
    <strong>{{position}}</strong>
    from
    <strong>{{startDate}}</strong>
    to
    <strong>{{endDate}}</strong>.
</p>
