# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules
.env
.env.test

package-lock.json

coverage

.DS_Store

tmp

public/uploads/images/*
!public/uploads/images/.gitkeep
